<html ng-app="downtime" ng-controller="rootController">
    <head>

        <title>KDM Manager - Scheduled Maintenance!</title>
        <meta name="theme-color" content="#000" />

        <!-- JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
        <script src="/static/js/downtime.js?v={{version}}"></script>

        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="/static/css/fonts.css?v={{version}}">
        <link rel="stylesheet" type="text/css" href="/static/css/style.css?v={{version}}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ruda">

    </head>

    <body>

        <div id="main_container">

    		<h2 class="special_showdown">Maintenance!</h2>
            <h1>https://kdm-manager.com</h1>
            <p class="centered subtitle">is down for scheduled maintenance.</p>
            <p class="spacer">&nbsp;</p>
            <p class="message">For more information about the downtime, including when it is expected to end, please check the following resources:</p>

            <div class="links_grid">
                <div class="clickable link_container">
                    <a href="https://twitch.tv/thelaborinvain">
                        <img src="/static/images/twitch_icon.png" />
                        <p class="link_caption">Watch the maintenance live on Twitch!</p>
                    </a>
                </div>
                <div class="clickable link_container">
                    <a href= "https://t.co/DVaNrhGSbi">
                        <img src="/static/images/discord_icon.png" />
                        <p class="link_caption">Join our Discord server and say hello!</p>
                    </a>
                </div>
            </div>

        </div> <!-- container -->


        <div id="footer">
            <a class="footer_link" href="https://thelaborinvain.com">
                Developed by: The Labor in Vain <b>2018-{a cur_date| date:'yyyy' a}</b>
            </a>
        </div>

	</body>

</html>
