<html ng-app="downtime" ng-controller="rootController">
    <head>

        <title>https://kdm-manager.com - Scheduled Maintenance</title>
        <meta name="theme-color" content="#000" />

        <!-- JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
        <script src="/static/js/downtime.js?v={{version}}"></script>

        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="/static/css/fonts.css?v={{version}}">
        <link rel="stylesheet" type="text/css" href="/static/css/style.css?v={{version}}">

    </head>

    <body>

        <div id="main_container">

            <h1>https://kdm-manager.com</h1>
    		<h2>Maintenance</h2>

        </div> <!-- container -->

	</body>

</html>
